%h1 Listing adventurers

%table
  %tr
    %th
    %th
    %th

  - @adventurers.each do |adventurer|
    %tr
      %td= link_to 'Show', adventurer
      %td= link_to 'Edit', edit_adventurer_path(adventurer)
      %td= link_to 'Destroy', adventurer, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Adventurer', new_adventurer_path
