- rolls.each do |roll|
  .dice
    = image_tag "dice/#{roll["color"]}/#{roll["number"]}.png"

  :javascript
    $(document).ready(function(){
  
      $('.dice').click(function () {
        $(this).fadeOut(100)
      });
  
    });