.row-fluid

  - @open_groups.each do |group_num, monster_collection|
    .span3
      %h4= "Open Group #{group_num}"
      = render :partial => "monsters/monster", :collection => monster_collection, :locals => { :encounter => @encounter }


:javascript
  // bootstrap popovers
  $('.object-popup').popover({ html: true, trigger: 'hover'});