%h2 Games

%table.table.table-striped
  %thead
    %tr
      %th Game
      %th Heroes
      %th Monsters
      
  %tbody
    - @games.each do |game|
      %tr
        %td= link_to game.name, game_path(game)
        %td
          .column2
            - for hero in game.heroes
              %p= popup_link(hero)

        %td
          .column2
            - for monster in game.monsters
              %p= monster_popover_link(monster)