
%h1 Games

%table.table.table-striped
  %thead
    %tr
      %th Game
      %th Heroes
      %th Monsters
      
  %tbody
    - @games.each do |game|
      %tr
        %td= link_to game.name, game_path(game)
        %td
          .column2
            - for hero in game.heroes
              %p= link_to hero.name, hero

        %td
          .column2
            - for monster in game.regular_monsters
              %p= link_to monster.name, monster

= link_to t('.new', :default => t("helpers.links.new")), new_game_path, :class => 'btn btn-primary'
