/ this is a list skills associated with each class, for putting in tables and whatnot

- for skill in @profession.skills
  %p= popup_link(skill)

// bootstrap popovers
:javascript
  $('.object-popup').popover({ html: true, trigger: 'hover'});