%h2= @profession.name

%p
  %strong Archetype:
  %br
  = @profession.archetype.name
%p
  %strong Game:
  %br
  = link_to @profession.game.name, @profession.game

  %h4 Skills

  - for skill in @profession.skills
    %p= popup_link(skill)
