/ this is a list of items associated with each class, for putting in tables and whatnot

%p= popup_link(item)

// bootstrap popovers
:javascript
  $('.object-popup').popover({ html: true, trigger: 'hover'});