- model_class = Campaign
.page-header
  %h2= @campaign.name

%h4 Information

%h4 Reviews

%h4 Discussion

- if user_signed_in? && current_user == @campaign.user
  .form-actions
    = link_to t('.edit', :default => t("helpers.links.edit")), |
      edit_campaign_path(@campaign), :class => 'btn'           |
    -#
    = link_to t('.destroy', :default => t("helpers.links.destroy")),                                               |
      campaign_path(@campaign),                                                                                    |
      :method => 'delete',                                                                                         |
      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, |
      :class => 'btn btn-danger'                                                                                   |
  